<main>
        <h1>The Palindrome Results!</h1>
        <p id = "one">You Entered: </p>
        <p class = {{class}}>{{textToTest}}</p>
        <p id = "two">{{message}}</p>
         <a href="/">Try another palindrome</a>

</main>

